.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sphere {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.graticule {
  stroke: lightgray;
  stroke-width: 0.5px;
  fill: none;
}
